a:link{
	color: #758585;
}

a:visited{
	color: #758585;
}

a:hover{
	color: #526666;
}

.imagehomepage{
  float: left;
  padding-left: 300px;
  padding-top: 50px;
}

.imagehomepage img{
  padding-right: 50px;
  padding-top: 20px;
  border: 2px;
}



.header h1{
	font-size: 20px;
	text-align: left;
	font-family: "Helvetica Neue";
	color: #5c5c5c;
	margin-left: 50px;
}

center{
  background-color:#ffffff;
  margin-left: 200px;
  margin-top: 20px;
}

.header p{
	font-size: 14px;
	text-align: left;
	font-family: "Helvetica Neue";
	color: #5c5c5c;
	margin-left: 40px;
	margin-top: -15px;
}

.header{
	background-color: #e6e6e6;
	height: 100px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -20px;
}

.header h2{
	display: inline;	
	float:right;
	margin-right:100px;
	font-family: "Helvetica Neue";
	font-size: 16px;
	margin-top: -20px;
	font-color: #8A9499;

}

.tit1{
  font-family: "Helvetica Neue";
  margin-left: 305px;
}

body {
  margin: 0; 
  padding: 0;
  background: #ffffff;
  height: 100%;
}

.sidebar{
  position: absolute;
  padding-top: 30px;
  margin-top: 20px;
  margin-left: 10px;
  font-family: 'Helvetica';
  font-size: 13px;
}

ul{
  list-style: none;
}

.diy-slideshow{
  position: relative;
  display: block;
  overflow: hidden;
  width: 80%;
  height: 100%;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-top: 20px;
  background-color: #ffffff
}

figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
  background-color: #ffffff
}

figcaption{
  position: absolute;
  margin-right: 45px;
  margin-bottom: 17px;
  font-family: sans-serif;
  font-size: 12px;
  bottom: -5px;
  right: .35em;
  padding: .5em;
  color: #000;
  background: rgba(255,255,255, 0.8);
  border-radius: 10px;
}
figcaption a{
  color: #fff;
}
figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .2);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
p{
  margin: 10px 20px;
  color: #fff;
  background-color: #000000
}

footer{
  background-color: #e6e6e6;
  height: 20px;
}

p1{
  font-size: 14px;
  font-family: 'Helvetica';
  margin-bottom: 20px;
  color: #676A6A;

}

.description{
  margin-left: 280px;
  margin-bottom: 20px;
  margin-right: 80px;
}

f1{
  font-size: 10px;
  text-align: right;
  color: #5c5c5c;
  margin-left: 10px;
  font-family: 'Helvetica';
}
